/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-label {
  position: absolute;
  background-color: blue;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
}